body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

#fileInput {
  display: block;
  margin: 20px auto;
}

#table {
  margin: 20px auto;
  width: 90%;
}
